.offer-product-display-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(208px, 1fr));
  margin-top:6%;

  gap: 30px;
  row-gap: clamp(25px, 5vw, 60px);
}

.offer-poster {
  width: 100%;
  text-align: center;
}

.offer-poster img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}


@media (max-width: 767px) {
  .offer-product-display-list {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (max-width: 500px) {
  .offer-product-display-list {
    grid-template-columns: repeat(auto-fit, minmax(calc(50% - 15px), 1fr));
    /* grid-template-columns: repeat(2, minmax(0, 1fr)); */
  }

  .offer-poster img {
    height: 45vw;
  }
}